use flake

layout poetry

# ensure poetry has created the .venv
if [ ! -d .venv ]; then
  poetry install  # only runs once
fi

# activate the poetry venv
layout poetry  

# make your top-level modules importable
export PYTHONPATH="$PWD"

# (if your code lives under a src/ directory, instead do
# export PYTHONPATH="$PWD/src")
